{{yield}}
<li><a href="https://www.google.com/search?q={{city.name}}"> <h3>{{city.name}}</h3></a>
  <button {{action 'delete' city}}>Delete</button>
  <ul>
    <h4>Attractions</h4>
    <li>{{city.attractions}}</li>
  </ul>
</li>
